body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

button {
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    padding: 10px;
    border: none;
    margin: 10px;
}

.dark-theme {
    background-color: #333333;
    color: whitesmoke;
}

.light-theme {
    background-color: whitesmoke;
    color: #333333;
}

.small-font-size {
    font-size: 14px;
}

.big-font-size {
    font-size: 24px;
}
